      html {
        font-family: 'Arial' sans-serif;
        background: linear-gradient(to right, #5050ff, #ffffff);
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      body {
        width: 50%;
        max-width: 800px;
        min-width: 480px;
        margin: 0 auto;
      }
      
      .formulario input[type="number"] {
        width: 200px;
      }

      .ultimoResultado {
        color: white;
        padding: 3px;
      }